*{margin: 0;padding: 0;}
.container{
    width: 1200px;
    margin: 0 auto;
}
.container1-title{
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
    line-height: 37.2px;
    margin-bottom: 20px;
  
}
.products{
  float: left;
}
.products li{
    width: 270px;
    height: 350px;
    border: solid 1px ;
    padding: 15px 35px;
    margin-right: 15px;
    margin-left: 15px;
}