*{
    margin: 0 ;
    padding: 0;
}
.footer_row-infoLinks {
    /* border-top: 1px solid #f0f0f0; */
    border-bottom: 1px solid #f0f0f0;
}

.footer_block-infoLinks, .footer_block-search, .footer_block-usps {
    text-align: center;
}

.footer_infoLinks {
    border-left: 1px solid #f0f0f0;
    margin: 0 auto;
}

.footer_infoLink {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid #f0f0f0;
}

ul {
    padding-left: 0;
    list-style: none outside;
}
.footer_infoLink a {
    display: block;
    padding: 15px 0;
    font-size: 1.1em;
    color: #34b3a1;
}

.footer_infoLink i {
    margin-right: 5px;
}

.footer_infoLink span {
    vertical-align: middle;
}

.footer_row-bgLight {
    background: #f9f9f9;
}



.newsletterSignup-cn {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #f0f0f0;
}

.footer_social {
    text-align: center;
    margin-right: 5%;
}

.footer_qrContainer {
    float: right;
    padding: 0;
    margin-right: 3px;
    background-color: transparent;
    width: 130px;
}
.footer_qrCode {
    width: inherit;
}
.footer_qrCode {
    margin-top: 2px;
}


.footer_linksColumn, .footer_social {
    float: right;
    box-sizing: border-box;
    padding-top: 24px;
}

.footer_qrContainer {
    padding: 15px;
    background: #fff;
    width: 112px;
    margin: 0 auto 10px;
}
.footer_social {
    float: right;
    box-sizing: border-box;
    padding-top: 24px;
    width: 266px;
    height:166px;
}
.footer_linksSummary {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
}

.footer_linksColumn {
    flex-grow: 1;
    flex-basis: 0;
    float: right;
    box-sizing: border-box;
    padding-top: 24px;
}
.footer_levelOne {
    flex-grow: 1;
    flex-basis: 0;
    float: right;
    box-sizing: border-box;
    padding-top: 24px;
}
ul {
    padding-left: 0;
    list-style: none outside;
}

.footer_levelOneItemTextAndIcon {
    margin-bottom: 1.5em;
    font-family: oswaldregular,"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #4e504f;
    font-weight: 700;
    color: #4e504f;
    display: block;
}
.footer_levelTwo {
    margin-left: 0;
}
.footer_levelOneItemTextAndIcon {
    margin-bottom: 1.5em;
    font-family: oswaldregular,"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #4e504f;
    font-weight: 700;
    color: #4e504f;
    display: block;
}

.footer_levelTwoItemLink {
    color: #4e504f;
}
.newsletterSignup-cn {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #f0f0f0;
}
fieldset {
    padding: 0;
    margin: 0;
}
#accessibility, .accessibility, legend {
    display: none;
}
.newsletterSignup_label-cn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 14px;
}
.newsletterSignup_button-cn {
    display: inline-block;
    background-color: #34b3a1;
    font-family: Helvetica,"Helvetica Neue",Arial,Hiragino Sans GB,冬青黑体,STHeiti,华文黑体,Microsoft YaHei,微软雅黑,sans-serif;
    color: #fff;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
    transition: background-color .2s;
    padding: 0 18px;
    border: 0;
    box-sizing: border-box;
    font-size: 12px;
    vertical-align: top;
    overflow: hidden;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.footer_row-bg {
   height: 120px;
   width: 100%;
}
.constraint, .footer_block {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    width: 100%;
}
.footer_row-bg {
    background: #ebebeb;
    
    margin-top: 10px;
    background: url(../img/footer.png)no-repeat center;
}
.newsletterSignup_button-cn:hover{
    color: #fff;
    background:#207064;
}

