
.login-div{
    margin-left: 15px;
    margin-right: 15px;
    flex-basis: 50%;
    flex-shrink: 1;
    max-width: none;
}
.login_top{
    width: 1180px;
    height: 108px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
